@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.itemModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 27, 0.2);
    z-index: 100;
    backdrop-filter: blur(8px);
}

.marketPageMainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}

/* .myMarketPageContainer {
    width: 90%;
    display: flex;
    gap: 2em;
} */

/* .marketSideNavbar {
    background-color: #e0f2fe;
    border: 3px solid #7dd3fc;
    width: 20%;
    height: 90vh;
    padding: 1.5%;
    border-radius: 15px;
} */

.sideNavBar-heading {
    font-size: 3em;
    margin-bottom: 1%;
}

.navSubHeading {
    font-weight: bold;
    font-size: 1.5em;
}

/* .sideNavLinkContainer ul {
    margin-left: 5%;
    font-size: 1.3em;
    margin-bottom: 3%;
} */

/* .sideNavLinkContainer ul li {
    padding: 1%;
} */

/* .sideNavLinkContainer ul li:hover {
    background-color: #fef08a;
    border-radius: 10px;
}

.sideNavLinkContainer ul li.active {
    background-color: #fef08a;
    border-radius: 10px;
} */

.myListingsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.myListingCardContainer {
    position: relative;
    background-color: #f5f5f5;
    border: 2px solid #d4d4d4;
    height: 30vh;
    border-radius: 15px;
    padding: 1.5%;
    display: flex;
    z-index: 2;
}

.cardImageContainer {
    width: 20%;
    height: 100%;
    padding: 1%;
    background-color: #fff;
    border: 2px solid #d4d4d4;
    border-radius: 15px;
}

.cardImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.listingInfoContainer {
    width: 80%;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    gap: 1em;
}

.cardLeftSection {
    width: 60%;
}

.cardRightSection {
    width: 40%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

/* .createListingForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1em;
} */
/* .formTitle {
    font-weight: bold;
    font-size: 3em;
} */

/* .topFormSection {
    width: 100%;
} */
/* .rightFormSection {
    width: 30%;
} */

/* .leftFormSection {
    width: 70%;
} */

/* .leftFormSection * {
    font-size: 1.2em;
} */

/* .bottomFormSection {
    width: 50%;
    display: flex;
    gap: 2em;
} */

/* .bottomFormSection button{
    font-size: 1.5em;
    min-width: 20%;
}
*/

.selectedImageDisplayContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
} 

.selectedImageBox {
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em;
    color: rgb(70, 70, 134);
    background-color: #e0f2fe;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

/* .selectedImageBox p {
    text-decoration: underline;
} */

.selectedImageBox i {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.selectedImageBox i:hover {
    color: red;
    background-color: rgb(255, 255, 255,0.7);
    border-radius: 5px;
}

.cardButtons {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1em;
}

.selectContainer {
    padding: 2%;
    padding-right: 10%;
    cursor: pointer;
}

.CategoryToolbarContainer {
    width: 100%;
    background-color: #f5f5f5;
    border: 2px solid #d4d4d4;
    padding: 0.5%;
    border-radius: 10px;
}

.CategoryToolbarContainer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 1.5em;
}

.CategoryToolbarContainer ul li{
    background-color: #3b82f6;
    color: white;
    padding: 0.5%;
    border-radius: 10px;
    cursor: pointer;
}

.CategoryToolbarContainer ul li:hover, .CategoryToolbarContainer ul li.active{
    outline: 5px solid #fbbf24;
    background-color: #f5f5f5;
    color: black;
}

.dashboard-Item-Modal {
    animation: slide-down 0.2s ease-in-out;
    z-index: 1;
}


/*for phone screen*/
@media all and (min-width: 100px) and (max-width: 950px) {
    /* .myMarketPageContainer {
        width: 100%;
    } */
    /*.marketSideNavbar {
        width: 75%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0%;
        z-index:15;
        padding: 5%;
        padding-top: 10%;
        border-radius: 5px;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;  Ensure the navbar stays at the final position after animation 
    }*/

    /* .marketSideNavbar.show {
        animation-name: slideIn; //Apply slideIn animation when the show class is present 
    } */

    /*.marketSideNavbar.hide {
        animation-name: slideOut; Apply slideOut animation when the hide class is present
    }*/

    .sideNavBar-heading {
        font-size: 1.5em;
    }
    
    .navSubHeading {
        font-size: 1em;
    }
    
    /* .sideNavLinkContainer ul {
        font-size: 1em;
    } */
    
    /* .sideNavLinkContainer ul li {
        padding: 2%;
    } */

    .myListingsContainer {
        width: 100%;
    }
    .myListingCardContainer {
        height: 22vh;
        padding-right: 0;
    }
    .cardImageContainer {
        width: 35%;
    }
    .listingInfoContainer {
        width: 60%;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        margin-top: 1;
        gap: 0;
    }
    .cardLeftSection {
        width: 100%;
    }
    .cardRightSection {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        margin: 0;
        gap: 0;
        width: 100%;
    }
    .cardRightSection p, .cardRightSection span{
        font-size: 1em;
    }
    .cardLeftSection * {
        font-size: 1em;
    }
    .cardLeftSection p {
        font-size: 0.8em;
    }
    .cardLeftSection h1 {
        font-size: 1.1em;
    }
    .cardRightSection * {
        font-size: 0.8em;
    }

    .cardImageContainer img {
        object-fit: cover;
    }
    /* .createListingForm {
        width: 100%;
    } */
    /* .formTitle {
        font-size: 1.8em;
    } */
    /* .rightFormSection {
        width: 100%;
    } */
    /* .leftFormSection {
        width: 100%;
    } */
    /* .leftFormSection * {
        font-size: 1em;
    } */
    
    /* .bottomFormSection {
        width: 100%;
        justify-content: center;
    }
    
    /* .bottomFormSection button{
        font-size: 1em;
        min-width: 40%;
    }
    .cardButtons {
        gap: 0.2em;
        width: 50%;
        font-size: 0.8em;
    }
    .selectContainer {
        width: 100%;
        padding: 0.2em;
        font-size: 1.1em;
    }
    */
    .CategoryToolbarContainer {
        font-size: 1em;
        padding: 1%;
    }
    .CategoryToolbarContainer ul {
        gap: 0.5em;
        font-size: 1em;
        flex-wrap: wrap;
    }
    .CategoryToolbarContainer ul li{
        padding: 1%;
    }
}

/*speical cases for ipads and weird devices*/
@media all and (min-width: 951px) and (max-width: 1400px) {
    .myListingCardContainer {
        gap: 0;
        height: 18vh;
    }

    .listingInfoContainer {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    .cardLeftSection {
        width: 100%;
    }
    .cardRightSection {
        width: 100%;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        margin: 0;
        gap: 5em;
    }
    /* .bottomFormSection {
        width: 100%;
    } */
}

/*for laptop screen*/
@media all and (min-width: 951px) and (max-width: 1750px) {
    .marketSideNavbar {
        width: 25%;
    }
    .myListingsContainer {
        width: 75%;
    }
    .cardImageContainer {
        width: 25%;
    }
    .listingInfoContainer {
        width: 75%;
    }
    /* .rightFormSection {
        width: 100%;
    } */
    .leftFormSection {
        width: 100%;
    }
    .cardButtons button {
        width: 50%;
    }
}



@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
}