@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.itemModalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 27, 0.3);
    z-index: 100;
    backdrop-filter: blur(8px);
}

.marketPageMainContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.myMarketPageContainer {
    width: 90%;
    display: flex;
    gap: 2em;
}

.marketSideNavbar {
    background-color: #e0f2fe;
    border: 3px solid #7dd3fc;
    width: 20%;
    height: 90vh;
    padding: 1.5%;
    border-radius: 15px;
}

.sideNavBar-heading {
    font-size: 3em;
    margin-bottom: 1%;
}

.navSubHeading {
    font-weight: bold;
    font-size: 1.5em;
}

.sideNavLinkContainer ul {
    margin-left: 5%;
    font-size: 1.3em;
    margin-bottom: 3%;
}

.sideNavLinkContainer ul li {
    padding: 1%;
}

.sideNavLinkContainer ul li:hover {
    background-color: #fef08a;
    border-radius: 10px;
}

.myListingsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.myListingCardContainer {
    background-color: #f5f5f5;
    border: 2px solid #d4d4d4;
    height: 30vh;
    border-radius: 15px;
    padding: 1.5%;
    display: flex;
}

.cardImageContainer {
    width: 20%;
    height: 100%;
    padding: 1%;
    background-color: #fff;
    border: 2px solid #d4d4d4;
    border-radius: 15px;
}

.cardImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.listingInfoContainer {
    width: 80%;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    gap: 1em;
}

.cardLeftSection {
    width: 60%;
}

.cardRightSection {
    width: 40%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.createListingForm {
    width: 80%;
    display: flex;
    gap: 1em;
}

.leftFormSection {
    width: 30%;
}
.imageUploadSection {

}

.rightFormSection {
    width: 70%;
}

.rightFormSection * {
    font-size: 1.2em;
}
/*for phone screen*/
@media all and (min-width: 100px) and (max-width: 950px) {
    .myMarketPageContainer {
        width: 95%;
    }
    .marketSideNavbar {
        display: none;
    }
    .myListingsContainer {
        width: 100%;
    }
    .myListingCardContainer {
        height: 20vh;
    }
    .cardImageContainer {
        width: 35%;
    }
    .listingInfoContainer {
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .cardLeftSection {
        width: 100%;
    }
    .cardRightSection {
        width: 100%;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin: 0;
        gap: 0;
    }
    .cardLeftSection * {
        font-size: 1em;
    }
    .cardLeftSection p {
        font-size: 0.8em;
    }
    .cardRightSection * {
        font-size: 0.8em;
    }
    .cardRightSection p {
        display: none;
    }
    .cardImageContainer img {
        object-fit: cover;
    }
}

@media all and (min-width: 951px) and (max-width: 1400px) {
    .myListingCardContainer {
        gap: 0;
        height: 18vh;
    }
    .cardImageContainer {
    }
    .listingInfoContainer {
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    .cardLeftSection {
        width: 100%;
    }
    .cardRightSection p {
        display: none;
    }
    .cardRightSection {
        width: 100%;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin: 0;
        gap: 0;
    }
}

/*for laptop screen*/
@media all and (min-width: 951px) and (max-width: 1750px) {
    .marketSideNavbar {
        width: 25%;
    }
    .myListingsContainer {
        width: 75%;
    }
    .cardImageContainer {
        width: 25%;
    }
    .listingInfoContainer {
        width: 75%;
    }
}
